<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node/Angular Todo App</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

	<script src="js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="js/services/todos.js"></script> <!-- load our todo service -->
	<script src="js/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">
	<div class="container">

		<div ng-show="!isMetaMaskExist">
			<div class="jumbotron text-center">
				<h3>You need <a target="_blank" href="https://metamask.io/">MetaMask</a> browser plugin to run this example</h3>
			</div>
		</div>

		<div ng-show="isMetaMaskExist && !isAccountUnlocked">
			<div class="jumbotron text-center">
				<h3>You need to login into MetaMask to proceed</h3>
			</div>
		</div>

		<div ng-show="isMetaMaskExist && !isTestNet">
			<div class="jumbotron text-center">
				<h3>Alarm. MainNet selected!</h3>
			</div>
		</div>

		<div ng-show="isTestNet && isAccountUnlocked">
			<!-- HEADER AND TODO COUNT -->
			<div class="jumbotron text-center">
				<h1>I'm a Todo-aholic <span class="label label-info">{{ todos.length }}</span></h1>
			</div>

			<!-- TODO LIST -->
			<div id="todo-list" class="row">
				<div class="col-md-12 text-center">
					<!-- LOOP OVER THE TODOS IN $scope.todos -->
					<div class="checkbox" ng-repeat="(key, todo) in todos">
						<label>
							{{ key + 1 }}. {{ todo.text }}
						</label>
						<span class="label label-{{ getClassByStatus(todo.status) }}">{{ getTextByStatus(todo.status) }}</span>
						<button type="button" class="btn btn-default btn-xs" ng-click="deleteTodo(todo.onChainId)">
							<span class="glyphicon glyphicon-ban-circle"></span>
						</button>
						<button type="button" class="btn btn-default btn-xs" ng-click="completeTodo(todo.onChainId)">
							<span class="glyphicon glyphicon-check"></span>
						</button>
					</div>
				</div>
			</div>

			<p class="text-center" ng-show="loading">
				<span class="fa fa-spinner fa-spin fa-3x"></span>
			</p>
			<div class="alert alert-{{ statusInfo.status ? 'success' : 'danger' }}" ng-show="statusInfo.isVisible">
				<span>{{ statusInfo.message }}</span>
			</div>

			<!-- FORM TO CREATE TODOS -->
			<div id="todo-form" class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<form>
						<div class="form-group">

							<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
							<input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
						</div>

						<!-- createToDo() WILL CREATE NEW TODOS -->
						<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
					</form>
				</div>
			</div>

			<div class="text-center text-muted">
			<p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
			<p>Read the <a href="http://scotch.io/tutorials/javascript/creating-a-single-page-todo-app-with-node-and-angular">tutorial</a>.</p>
			<p>Modified for the test task by kulyna</p>
		</div>
		</div>
	</div>

</body>
</html>
